:root {
  /* Основные шрифты */
  --main-font: 'roboto', sans-serif;
  --secondary-font: 'raleway' sans-serif;
  /* Цвет текста */
  --main-color: rgba(117, 117, 117, 1);

  --secondary-color: rgb(33, 33, 33, 1);
  --accent-color: rgb(33, 150, 243, 1);
  --title-color: rgb(255, 255, 255, 1);
  /* Основные фоны */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

body {
  background-color: #fff;
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}
section {
  display: block;
}

img {
  display: block;
}

.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -21px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color)
}
/* Шапка сайта */


.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);

}
  



.header-box {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item link {
  display: block
}

.header-nav {
  margin-left: 93px;
}

.header-item {
  position: relative;
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}


.header-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

}

.header-logo {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--secondary-color);
  letter-spacing: 0.03em;
}

.logo-link {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

.header-link {
  font-family: var(--main-font);
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link-txt {
  font-family: var(--main-font);
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contact {
  margin-left: auto;
}

.contacts-row .list {
  display: flex;
  align-items: center;
}

.contacts-row .item {
  text-align: center;
}

.icon-mail {
  width: 16px;
  height: 12px;
}

.header-link-txt:hover,
.header-link-txt:focus {
  color: var(--accent-color);
}

.header-mail {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  display: flex;
  align-items: center;


  font-family: var(--main-font);
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-phone {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  font-family: var(--main-font);
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.icon-phone {
  fill: currentColor;
  margin-right: 10px;
}

.icon-mail {
  fill: currentColor;
  margin-right: 10px;
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}

.header-list-box {
  display: flex;
  align-items: center;
}

.header-item-box:not(:last-child) {
  margin-right: 20px;

}



/* Секция герой */
.hero {
  padding: 200px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Backgrounds/bcghero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(47, 48, 58, 1);

  max-width: 1600px;
  height: 600px;
}

.hero-title {
  font-size: 44px;
  font-family: var(--main-font);
  font-style: normal;
  color: var(--title-color);
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: rgba(255, 255, 255, 0);
  margin-top: 30px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--accent-color);
}

/* Секция особенности */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
}

.feature-item {
  margin-right: 30px;
}

.feature-item:last-child {
  margin-right: 0;
}

.feature-title {
  margin-bottom: 10px;

  font-family: var(--main-font);
  font-style: normal;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.feature-logo {
  width: 70px;
  height: 70px;
}

.feature-container {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;

  background-color: rgba(245, 244, 250, 1);
}

/* Секция Чем мы занимаемся */

.occupation-title {
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.occupation-list {
  display: flex;
  margin-top: 50px;
}
.occupation-item:nth-child(n + 2) {
  margin-left: 30px;
}

/* Секция Команда сотрудников */

.employee {
  background-color: rgba(245, 244, 250, 1);
  padding: 94px 0;
}

.employee-title {
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.employee-list {
  display: flex;
  margin-top: 50px;
}

.employee-item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-item:nth-child(n + 2) {
  margin-left: 30px;
}

.employee-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-title-name {
  text-align: center;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.employee-text {
  margin-top: 10px;
  text-align: center;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.employee-list-nav {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.employee-link-nav {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  fill: rgba(175, 177, 184, 1);
}

.employee-link-nav:hover,
.employee-link-nav:focus {
  background-color: rgba(33, 150, 243, 1);
  fill: #ffffff;
}

.employee-item-nav:not(:last-child) {
  margin-right: 10px;
}

/* Постоянные клиенты */

.customer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer-title {
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.customer-list {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.customer-item {
  justify-content: center;
  align-items: center;
}

.customer-item:not(:last-child) {
  margin-right: 30px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;

  fill: rgba(175, 177, 184, 1);
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid rgba(33, 150, 243, 1);
  fill: rgba(33, 150, 243, 1);
}

/* Портфолио */

.nav-port {
  padding-bottom: 94px;
}

.nav-button {
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;

  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--secondary-color);
  cursor: pointer;
  background-color: rgba(245, 244, 250, 1);
}

.nav-port {
  padding: 94px 0;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-right: 8px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-button:hover,
.nav-button:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.services-link {
  display: block;
}

.services-item {
  margin-right: 30px;
  margin-bottom: 30px;

}

.services-item:nth-child(3n + 3) {
  margin-right: 0px;
}

.services-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.services-item:hover,
.services-item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
  0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.services-box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.services-primary-text {
  margin-bottom: 4px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-color);
}

.services-secondary-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-color);
}


/* Footer */

.footer {
  background-color: rgba(47, 48, 58, 1);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  color: var(--title-color);
}

.footer-maps {
  display: inline-block;
}

.footer-list {
  margin-top: 20px;
  display: block;
  width: 231px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-color);
  list-style: none;
}

.footer-link-mail {
  margin-bottom: 9px;
}

.footer-link-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-mail:hover,
.footer-link-mail:focus {
  color: var(--accent-color);
}

.footer-link-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-phone:hover,
.footer-link-phone:focus {
  color: var(--accent-color);
}

.footer-text {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-block {
  margin-left: 70px;
}

.footer-text {
  margin-bottom: 20px;
}

.footer-block-list {
  display: flex;
}

.footer-link-nav {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: rgba(255, 255, 255, 1);
}

.footer-link-nav:hover,
.footer-link-nav:focus {
  background-color: rgba(33, 150, 243, 1);
}

.footer-link-nav:active {
  background-color: rgba(33, 150, 243, 1);
}

.footer-item-nav:not(:last-child) {
  margin-right: 10px;
}
